* text=auto

*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf

*.c      text eol=lf
*.h      text eol=lf
*.cpp    text eol=lf
*.hpp    text eol=lf
*.rs     text eol=lf
*.cs     text eol=lf
*.md     text eol=lf
Makefile text eol=lf
